body {
    background-color: white;
}



@media screen and (min-width: 320px) {
    ul {
        text-align: center;
        list-style-type: none;
        border: 2px solid red;
    }
}
.home-1{
    border: 2px solid green;
}


@media screen and (min-width: 480px) {
    body {
        text-align: center;

    }
}

@media screen and (min-width: 244px){
    h2 {
        text-align: left;

    }
}

@media screen and (min-width: 1024px) {
    body {
        text-align: center;
        background-color: goldenrod;
    }
}

@media screen and (min-width: 1200px) {
    body {
        text-align: center;
        background-color: #b4d455;
    }
}
